################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/GitBfg/v15
/GitBfg/obj
/.vs/GitBfg/v16
